Repository voxpupuli/puppet-r10k, pull requests merged in 2018-03, with the labels that each got.

#415 Fix metadata for the deploy task
  tasks/deploy.json
Labels: bug

#384 add documentation for bitbucket webhook
  README.md
Labels: docs

#418 release 6.4.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#419 Restart webhook service after package update/installation
  manifests/webhook/package.pp
Labels: bug
