Repository voxpupuli/puppet-r10k, pull requests merged in 2018-12, with the labels that each got.

#467 Update r10k path in example `prefix_command.rb`
  files/prefix_command.rb
Labels: enhancement

#469 enable acceptance tests
  .sync.yml
  .travis.yml
  spec/acceptance/basic_webhook_spec.rb
  spec/acceptance/prefix_webhook_spec.rb
  spec/acceptance/signature_webhook_spec.rb
  spec/spec_helper_acceptance.rb
Labels: needs-feedback

#476 modulesync 2.3.1
  .editorconfig
  .github/CONTRIBUTING.md
  .msync.yml
  .pmtignore
  .travis.yml
  Dockerfile
  Gemfile
  manifests/params.pp
  spec/acceptance/nodesets/centos-511-x64.yml
  spec/acceptance/nodesets/centos-6-x64.yml
  spec/acceptance/nodesets/centos-66-x64-pe.yml
  spec/acceptance/nodesets/centos-66-x64.yml
  spec/acceptance/nodesets/centos-7-x64.yml
  spec/acceptance/nodesets/centos-72-x64.yml
  spec/acceptance/nodesets/debian-78-x64.yml
  spec/acceptance/nodesets/debian-82-x64.yml
  spec/acceptance/nodesets/fedora-24-x64.yml
  spec/acceptance/nodesets/fedora-25-x64.yml
  spec/acceptance/nodesets/fedora-26-x64.yml
  spec/acceptance/nodesets/fedora-27-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1204-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1404-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1604-x64.yml
  spec/classes/coverage_spec.rb
  spec/classes/install_spec.rb
  spec/classes/webhook_spec.rb
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: modulesync

#477 release 6.8.0
  .travis.yml
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#478 modulesync 2.4.0
  .msync.yml
  .travis.yml
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: modulesync
