Repository voxpupuli/puppet-r10k, pull requests merged in 2018-07, with the labels that each got.

#438 wrap is_pe fact in fact() method to fail safely if it isn't present
  .fixtures.yml
  manifests/params.pp
  metadata.json
Labels: enhancement

#439 release 6.6.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#440 provide proper default for $r10k_basedir
  manifests/params.pp
Labels: enhancement

#443 modulesync 1.9.3
  .msync.yml
  Gemfile
Labels: modulesync

#445 modulesync 1.9.4
  .msync.yml
  .travis.yml
Labels: modulesync

#446 Notify rocketchat in rescue of deploy environments
  templates/webhook.bin.erb
Labels: bug
