Repository voxpupuli/puppet-r10k, pull requests merged in 2019-10, with the labels that each got.

#503 implement Archlinux support
  manifests/params.pp
  metadata.json
  spec/classes/webhook/package_spec.rb
Labels: enhancement

#501 modulesync 2.9.0 & drop Ubuntu 14.04, add 16.04/18.04
  .github/CONTRIBUTING.md
  .msync.yml
  .sync.yml
  .travis.yml
  Dockerfile
  Gemfile
  Rakefile
  manifests/mcollective/application.pp
  manifests/params.pp
  metadata.json
  spec/spec_helper.rb
Labels: backwards-incompatible

#498 Trim "full_name" when module name has no dash
  templates/webhook.bin.erb
Labels: bug

#491 Allow uppercase characters in environment names
  tasks/deploy.json
Labels: enhancement

#504 release 8.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
