Repository voxpupuli/puppet-r10k, pull requests merged in 2020-04, with the labels that each got.

#520 Modulesync 2.11.0
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  .travis.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#521 Release 8.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#517 Add support for package source attribute
  .gitignore
  README.md
  manifests/init.pp
  manifests/install.pp
  manifests/params.pp
  spec/classes/install_spec.rb
Labels: enhancement

#522 modulesync 2.12.0
  .gitignore
  .msync.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#523 release 8.2.0
  CHANGELOG.md
  metadata.json
Labels: enhancement

#526 Allow puppetlabs/vcsrepo 3.x
  metadata.json
Labels: enhancement

#527 Release 8.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
