Repository voxpupuli/puppet-r10k, pull requests merged in 2021-05, with the labels that each got.

#553 make puppetlabs/ruby optional
  manifests/params.pp
  metadata.json
Labels: backwards-incompatible

#555 modulesync 4.1.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .msync.yml
  Dockerfile
  Gemfile
Labels: modulesync

#554 Use a more logical example for basedir in the example code.
  README.md
Labels: docs
