Repository voxpupuli/puppet-r10k, pull requests merged in 2022-06, with the labels that each got.

#576 Add Gentoo support
  .fixtures.yml
  manifests/install.pp
  manifests/params.pp
  metadata.json
  spec/classes/install/gem_spec.rb
  spec/classes/install_spec.rb
  spec/classes/mcollective_spec.rb
  spec/classes/r10k_spec.rb
  spec/classes/webhook/package_spec.rb
Labels: enhancement

#508 Add additional curl example for environment prefixes
  README.md
Labels: docs, tests-fail

#578 Release 10.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
