Repository voxpupuli/puppet-r10k, pull requests merged in 2023-05, with the labels that each got.

#593 Change README.md dependency on (abandoned) abrader/gms to bjvrielink/gms
  README.md
Labels: docs

#595 Delete legacy webhook
  examples/webhook.pp
  examples/webhook/config.pp
  spec/acceptance/basic_webhook_spec.rb
  spec/acceptance/gitlab_token_webhook_spec.rb
  spec/acceptance/prefix_webhook_spec.rb
  spec/acceptance/signature_webhook_bitbucket_spec.rb
  spec/acceptance/signature_webhook_github_spec.rb
  spec/classes/webhook/config_spec.rb
  spec/classes/webhook/package_spec.rb
  spec/classes/webhook_spec.rb
  templates/webhook.bin.erb
  templates/webhook.service.epp
  templates/webhook.yaml.erb
Labels: backwards-incompatible

#594 Remove old webhook code in preparation for webhook-go being added
  REFERENCE.md
  manifests/webhook.pp
  manifests/webhook/config.pp
  manifests/webhook/package.pp
Labels: backwards-incompatible, MayTheSourceBeWithYou
